db1.h2.db
db1.trace.db
EmailFolder/*
.idea
*.class
target/
out/
*.iws
*.iml
.vagrant
*.log
*.ipr
*.iws
*.metadata/
*.DS_Store
*swp
Functional Test/reports/
.gradle
build/
solr/
logs/
